// bower:scss
// endbower


.btn
  transition: all .5s


@font-face 
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf')  format('truetype')


//util
.width-100p
  width: 100%

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak 
  display: none !important

